#app {
    /* min-height: 100vh; */
    height: 100vh;
    display: flex;
    flex: 1;
}
.side-nav{
    width: 200px;
    overflow-y: scroll;
    order: -1;
}

.content{
    display: flex;
    flex-direction: column;   
    flex: 1 
}

header{
    flex: 0
}
.main {
    flex: 1;
    overflow-y: scroll;
}

header{
    background: orange
}

nav{
    background: lightgreen
}
aside{
    background: green
}
